        body{
            background: url("../img/dark-bg.jpg") ;
            background-size: 100%;
            right: 0px;
            margin: 0;
        }
        body a{
            text-decoration: none;
           
        }

        .header p {
            padding-left: 230;
            padding-right: 0;
            padding-top: 50;
            color: lightblue;
            font-size: 16;
            font-family: Arial, Helvetica, sans-serif;
            text-decoration: underline; 
            text-align: right;
            height: 70px;
            width: 270px;
            background: url("../img/google_logo1.png") no-repeat 15px 15px;
            background-size: 220px 75px;
        }

      
        .header p:hover{
            padding-left: 230;
            padding-top: 50;
            color: lightblue;
            font-size: 16;
            font-family: Arial, Helvetica, sans-serif;
            text-decoration: underline;
            text-align: right; 
            height: 70px;
            width: 270px;
            background: url("../img/google_logo2.png")no-repeat;
            background-size: 80px 80px;
            background-position: 90px 15px;
        }
       
        .navibar {
            text-decoration: none;
            float: left;
            width: 170px;
            height: 100%;
            border-collapse: collapse;
            position:absolute;
        }

        .navibar li {
            margin-top: 5px;
            margin-bottom: 5px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            background: lightcyan;
            height: 50px;
             width: 100px;
            line-height: 50px;
            font-size: 22px;
            color: green;
            text-align: center;
            border: 4px solid darkgreen;
            list-style: none;
            vertical-align: middle;
             
        }

        .greetings {
            
            font-size: 20;
            color: lightyellow;
            font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
            margin-left: 170px;
            position: relative;       
        }
        .button{
            text-align: center;
            height: 150px;
            width: 250px;
            position: relative;
            padding-top: 15px;
           margin: 0 auto;
        }
        .button table,td{
            padding: 10px;
            background-color: black;
            text-align: center;
            vertical-align: center;
            border:3px solid #333333; 
            border-collapse: collapse;
        }
          .content { 
            position: relative;
            font-size: 20;
            color: white;
            margin-left: 200px;
            right: 0px;
            top:25px;
            bottom: 50px;
            float:none;
            padding: 0;
           
          }
         .content p,table{ 
               position: relative;
         }
        .content table,td{
            color: white;
             border-collapse: collapse;
            background: darkred;
            
        }
        .content thead{
            position: relative;
            width:100%;
            text-align: center;
        }
        .content ul{
             list-style: none;
             position: relative;
             margin-left: 0px;
             padding: 0px;
        }
            .content li{
                 border-bottom: yellow solid 1px;
                  border-top:yellow solid 1px;
                  border-collapse: collapse;
                  padding:10px;
            }
        .copyright{
            position: relative;
            top:0px;
            left:0px;
            right: 0px;
        }
        .copyright p {
            margin-top: 50px;
            text-align: center;
            background-color: darkblue;
            color: white;
            line-height: 40px;
            border: 2px solid lightblue;
           
           
        }
        h1{
            color: green;
            font-family: Arial;
            font-weight: bold;
        }
      h2{
          color: gray;
      }