html,body{
	background-image: url(../img/index_bg.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
}

.header{
	margin: 20px; 
	height: 100px;
	font-family: Arial;
	color: lightyellow;
	font-size: 60px;
}

.navibar {
	text-decoration: none;
	float: left;
	width: 160px;
	border-collapse: collapse;
	position:absolute;
}

.navibar li,a {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	background: yellow;
	color: red;
	text-decoration: none;
	height: 50px;
	 width: 100px;
	line-height: 50px;
	font-size: 16px;
	text-align: center;
	margin:5px;
	list-style: none;
	vertical-align: middle;
	
}
.content{
	height: 600px;
	border: medium solid #06F;
	
	margin-top: 20px;
	margin-right: 40%;
	margin-bottom: 20px;
	margin-left:170px;
	position: relative;
}
.footer p {
	margin-top: 50px;
	text-align: center;
	background-color: darkblue;
	color: white;
	line-height: 40px;
	border: 2px solid lightblue;
   
   
}