html,body{
	background-image: url(../img/index_bg.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
}
.content{
	color:lightgray;
	font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
	font-size:14pt;
	margin-top: 20px;
	margin-right: 40%;
	margin-bottom: 220px;
	margin-left: 170px;
	position: relative;
}
