html,body{
	background-image: url(../img/others_bg.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
}
.content{
	color: #CCC;
	font-size: 12;
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: 170px;
	position: relative;
	background-color: rgba(0,0,0,0.5);
	margin-right: 40px;
}
